@use '../targetable'

:host
  display: flex
  flex-direction: column
  margin: 5px
  width: 200px
  padding: 10px

.header
  display: flex
  margin-bottom: 5px

.name
  flex: 1
  font-weight: bold
  margin-right: 5px

.hp
  color: green
  margin-right: 5px

.powerPool
  color: blue
