:host
  border: solid black 1px
  display: flex
  flex-direction: column
  margin: 10px
  min-width: 250px
  padding: 10px

.header
  display: flex

.name
  flex: 1
  margin-right: 10px

.hp
  color: green
