@use '~src/app/targetable'

:host
  display: flex
  flex-direction: column
  margin: 5px
  padding: 10px
  width: 200px
  word-break: break-word

.header
  display: flex
  margin-bottom: 5px

.stats
  display: flex
  margin-bottom: 5px

.wrap-tokens
  margin-right: 5px
  flex: 1

.name
  flex: 1
  font-size: 1.3em

.hp
  color: green
  font-size: 1.2em

.stats
  font-size: 1.2em

.powerPool
  color: blue
