<div class="header mat-body-2">
  <span class="name">{{ card.name }}</span>
  <span class="kind">{{ card.kind }}</span>
</div>
<div class="stats mat-body-1">
  <span *ngIf="card.strength > 0" class="strength">🗡️{{ card.strength }}</span>
  <span *ngIf="showCost" class="cost">⚡{{ card.cost }}</span>
  <span class="expand"></span>
  <ng-container *ngFor="let color of card.colors" [ngSwitch]="color">
    <span class="circle red" *ngSwitchCase="'Red'"></span>
    <span class="circle green" *ngSwitchCase="'Green'"></span>
    <span class="circle blue" *ngSwitchCase="'Blue'"></span>
    <span class="circle yellow" *ngSwitchCase="'Yellow'"></span>
    <span class="circle black" *ngSwitchCase="'Black'"></span>
  </ng-container>
</div>
<div class="description mat-body-1">
  {{ card.description }}
</div>
<app-actions [actions]="card.actions"></app-actions>
