:host
  border: solid black 1px
  cursor: pointer
  display: flex
  flex-direction: column
  margin: 1rem
  width: 250px
  padding: 1rem

.header
  display: flex
  margin-bottom: 1rem

.name
  flex: 1
  font-weight: bold
  margin-right: 1rem

.cost
  color: blue

.description
  margin-bottom: 1rem
