@use '~src/app/entity'
@use '~src/app/targetable'

:host
  margin: 5px
  word-break: break-word

:host(:hover)
  .hover-content
    display: flex

.static-container
  display: flex
  flex-direction: column
  height: 9vw
  padding: 10px
  width: 9vw

.header
  display: flex
  margin-bottom: 5px

.name
  flex: 1

.stats
  display: flex
  margin-bottom: 5px

.strength
  color: red
  margin-right: 5px

.cost
  color: blue
  margin-right: 5px

.expand
  flex: 1

.image-container
  align-items: center
  display: flex
  flex: 1
  justify-content: center
  overflow: hidden

  img
    max-height: 100%
    max-width: 100%

.hover-container
  position: relative

.hover-content
  background-color: #FFFDE7
  bottom: 0
  display: none
  flex-direction: column
  left: 0
  min-width: calc(100% - 20px)
  padding: 10px
  position: absolute

.description
  margin-bottom: 5px

.circle
  border-radius: 50%
  display: inline-block
  height: 16px
  margin-left: 5px
  width: 16px

.red
  background-color: red
.green
  background-color: green
.blue
  background-color: blue
.yellow
  background-color: yellow
.black
  background-color: black
