<ng-container *ngIf="!unit.isToken && card; else noCardHeader">
  <div class="header mat-body-2" appTargetable [entityId]="card.id">
    <span class="name">{{ unit.name }}</span>
    <span class="kind">{{ unit.isToken ? "TOKEN" : "UNIT" }}</span>
  </div>
</ng-container>
<ng-template #noCardHeader>
  <div class="header mat-body-2">
    <span class="name">{{ unit.name }}</span>
    <span class="kind">{{ unit.isToken ? "TOKEN" : "UNIT" }}</span>
  </div>
</ng-template>
<div class="stats mat-body-1">
  <span class="strength" [@highlight]="strengthChange"
    >🗡️ {{ unit.strength }}</span
  >
  <span class="defense" [@highlight]="defenseChange"
    >🛡️ {{ unit.defense }}</span
  >
  <span class="expand"></span>
  <div class="colors" [@highlight]="colorChange">
    <ng-container *ngFor="let color of unit.colors" [ngSwitch]="color">
      <span class="circle red" *ngSwitchCase="'RED'"></span>
      <span class="circle green" *ngSwitchCase="'GREEN'"></span>
      <span class="circle blue" *ngSwitchCase="'BLUE'"></span>
      <span class="circle yellow" *ngSwitchCase="'YELLOW'"></span>
      <span class="circle black" *ngSwitchCase="'BLACK'"></span>
    </ng-container>
  </div>
</div>
<div class="attributes mat-body-1" [@highlight]="attributesChange">
  <span *ngFor="let attribute of unit.attributes" class="attribute">{{
    attribute
  }}</span>
</div>
<div class="description mat-body-1">
  {{ unit.description }}
</div>
<app-actions [actions]="unit.actions" [canAct]="canAct"></app-actions>
