:host
  border: solid black 1px
  cursor: pointer
  display: flex
  flex-direction: column
  margin: 1rem
  width: 250px
  padding: 1rem

:host > *
  margin-bottom: 1rem

.header
  display: flex

.name
  flex: 1
  font-weight: bold

.strength
  color: red
  margin-left: 1rem

.defense
  color: gray
  margin-left: 1rem

.attributes
  color: orange
