@use '~src/app/targetable'

:host
  display: flex
  flex-direction: column
  margin: 5px
  padding: 10px
  width: 300px
  word-break: break-word

.header
  display: flex
  margin-bottom: 5px

.name
  flex: 1
  font-weight: bold

.stats
  display: flex
  margin-bottom: 5px

.strength
  color: red
  margin-right: 5px

.defense
  color: gray
  margin-right: 5px

.attribute
  color: orange
  flex: 1
  margin-right: 5px

.description
  margin-bottom: 5px
