<ng-container *ngIf="!targeting; else renderTargeting">
  <button
    mat-stroked-button
    [matTooltip]="action.description"
    (click)="beginAction($event)"
    [disabled]="!action.canTrigger"
  >
    {{ action.name }}
  </button>
</ng-container>
<ng-template #renderTargeting>
  <button
    mat-stroked-button
    color="primary"
    (click)="executeAction($event)"
    [disabled]="!canExecute"
  >
    Execute
  </button>
  <button mat-stroked-button color="warn" (click)="cancelAction($event)">
    Cancel
  </button>
</ng-template>
<ng-container *ngIf="action.minInputCount > 1">
  <div *ngIf="action.minInputCount == action.maxInputCount; else renderMinMax">
    Required: {{ action.minInputCount }}
  </div>
  <ng-template #renderMinMax>
    Min: {{ action.minInputCount }} Max: {{ action.maxInputCount }}
  </ng-template>
</ng-container>
