<ng-container *ngIf="!targeting; else renderTargeting">
  <button
    mat-stroked-button
    [matTooltip]="action.description"
    (click)="beginAction($event)"
  >
    {{ action.name }}
  </button>
</ng-container>
<ng-template #renderTargeting>
  <button
    mat-stroked-button
    color="primary"
    *ngIf="showExecute"
    matTooltip="Select {{ action.minInputCount }} to {{
      action.maxInputCount
    }} targets"
    (click)="executeAction($event)"
    [disabled]="!canExecute"
  >
    Execute
  </button>
  <button mat-stroked-button color="warn" (click)="cancelAction($event)">
    Cancel
  </button>
</ng-template>
