:host
  display: flex
  flex: 1
  min-height: 0

.section
  min-height: 0
  overflow-x: hidden
  overflow-y: auto

.players
  align-items: center
  display: flex
  flex: 1
  flex-direction: column

.forge
  align-items: center
  display: flex
  flex: 2
  flex-direction: column

.forge-separator
  margin: 8px 0

.throne-active
  color: purple
  font-weight: bold

.main
  display: flex
  flex: 5
  flex-direction: column

.area
  display: flex
  flex: 1 1 auto
  flex-direction: column
  overflow: auto
  padding: 8px

.discard-area
  max-height: 25vh
  overflow: auto
