<div class="section playersAndLogs">
  <div class="mat-subheading-1 header">Players</div>
  <div class="area players">
    <mat-slide-toggle [formControl]="autoPlay">Auto play</mat-slide-toggle>
    <app-player-container
      [players]="players"
      [canAct]="canAct"
    ></app-player-container>
  </div>
  <div class="mat-subheading-1 header">Play Log</div>
  <div class="area">
    <app-logs-container [gameview$]="gameview$"></app-logs-container>
  </div>
</div>
<mat-divider [vertical]="true"></mat-divider>
<div class="section forge">
  <div class="mat-subheading-1 header">
    Forge
    <span *ngIf="throneActive" class="throne-active"> Throne active </span>
  </div>
  <div class="area">
    <app-card-container
      [players]="players"
      [cards]="forgeDedupe"
      [canAct]="canAct"
      [dedupe]="true"
    ></app-card-container>
    <mat-divider class="forge-separator"></mat-divider>
    <app-card-container
      [players]="players"
      [cards]="forge"
      [canAct]="canAct"
    ></app-card-container>
  </div>
</div>
<mat-divider [vertical]="true"></mat-divider>
<div class="section main">
  <div class="area previous-play">
    <app-card-container
      [players]="players"
      [units]="attackingUnits"
      [canAct]="canAct"
    ></app-card-container>
  </div>
  <div class="mat-subheading-1 header">
    🗡️ {{ previousPlayerName || "N/A" }} vs {{ currentPlayerName }} 🛡️
  </div>
  <div class="area play-area">
    <app-card-container
      [players]="players"
      [cards]="playArea"
      [units]="defendingUnits"
      [canAct]="canAct"
    ></app-card-container>
  </div>
  <div class="area hand">
    <app-card-container
      class="hand-card-container"
      [players]="players"
      [cards]="hand"
      [canAct]="canAct"
    ></app-card-container>
  </div>
  <mat-divider></mat-divider>
  <mat-expansion-panel
    [class.overflow]="discardPileOpen"
    (opened)="discardPileOpen = true"
    (closed)="discardPileOpen = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title class="discard-title">
        <span>
          Deck Size: {{ deckSize }}
        </span>
        <span>
          Discard Pile: {{ discardPile.length }}
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-card-container
      [players]="players"
      [cards]="discardPile"
      [canAct]="canAct"
      [dedupe]="true"
    ></app-card-container>
  </mat-expansion-panel>
</div>
