<div class="section playersAndLogs">
  <div class="area players">
    <div class="mat-subheading-1 header">Players</div>
    <app-player-container
      [players]="players"
      [canAct]="canAct"
    ></app-player-container>
  </div>
  <div class="area">
    <app-logs-container [gameview$]="gameview$"></app-logs-container>
  </div>
</div>
<mat-divider [vertical]="true"></mat-divider>
<div class="section forge">
  <div class="area">
    <div class="mat-subheading-1 header">
      Forge
      <span *ngIf="throneActive" class="throne-active">
        Throne active
      </span>
    </div>
    <app-card-container
      [players]="players"
      [cards]="forgeDedupe"
      [canAct]="canAct"
      [dedupe]="true"
    ></app-card-container>
    <mat-divider class="forge-separator"></mat-divider>
    <app-card-container
      [players]="players"
      [cards]="forge"
      [canAct]="canAct"
    ></app-card-container>
  </div>
</div>
<mat-divider [vertical]="true"></mat-divider>
<div class="section main">
  <div class="area" *ngIf="previousPlayerName">
    <div class="mat-subheading-1 header">
      Attacked by: {{ previousPlayerName }}
    </div>
    <app-card-container
      [players]="players"
      [units]="attackingUnits"
      [canAct]="canAct"
    ></app-card-container>
  </div>
  <mat-divider></mat-divider>
  <div class="area play-area">
    <div class="mat-subheading-1 header">
      Current Player: {{ currentPlayerName }}
    </div>
    <app-card-container
      [players]="players"
      [cards]="playArea"
      [units]="defendingUnits"
      [canAct]="canAct"
    ></app-card-container>
  </div>
  <mat-divider></mat-divider>
  <div class="area">
    <div class="mat-subheading-1 header hand-header">
      <span>Your Hand</span>
      <mat-slide-toggle [formControl]="autoPlay">Auto play</mat-slide-toggle>
      <span>Deck Size: {{ deckSize }}</span>
    </div>
    <app-card-container
      [players]="players"
      [cards]="hand"
      [canAct]="canAct"
    ></app-card-container>
  </div>
  <mat-divider></mat-divider>
  <mat-expansion-panel
    [class.overflow]="discardPileOpen"
    (opened)="discardPileOpen = true"
    (closed)="discardPileOpen = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Discard Pile: {{ discardPile.length }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-card-container
      [players]="players"
      [cards]="discardPile"
      [canAct]="canAct"
      [dedupe]="true"
    ></app-card-container>
  </mat-expansion-panel>
</div>
