:host
  display: flex
  flex: 1
  min-height: 0

.section
  min-height: 0
  overflow: auto

.players
  align-items: center
  display: flex
  flex: 1
  flex-direction: column

.forge
  align-items: center
  display: flex
  flex: 2
  flex-direction: column

.forge-count
  align-self: stretch
  display: flex
  justify-content: space-around

.throne-active
  color: purple
  font-weight: bold

.main
  display: flex
  flex: 5
  flex-direction: column

.area
  align-items: center
  display: flex
  flex: 1
  flex-direction: column

.discard-container
  max-height: 25vh
  min-height: 0
  overflow: auto

.entity-container
  align-items: flex-start
  display: flex
  flex: 0 0 auto
  flex-wrap: wrap
  justify-content: center
